**/node_modules/
/trash/
/dist/
.DS_Store
**/.history
src/tmp/
.routify
.netlify
assets/build
.vercel
*.swp
/src/space_config/index.js
assets/bootstrap-icons.css
assets/bootstrap.min.css
assets/bootstrap.min.css.map
assets/bootstrap.rtl.min.css
assets/bootstrap.rtl.min.css.map
assets/fonts/bootstrap-icons.woff
assets/fonts/bootstrap-icons.woff2
